<?xml version='1.0' encoding='utf-8'?>

<widget android-versionCode="10" defaultlocale="en-US" id="com.example.raullino" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Raul Lino</name>
    <description>Um itinerário pelo património</description>
    <icon src="res/app_logo_no_letters_white.png" />
    <author>
        Raul Lino - Grupo C - 2022/2023
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="orientation" value="portrait" />
        <splash src="res/app_logo.png"/>
    </platform>

    <platform name="browser">
        <preference name="orientation" value="portrait" />
        <preference name="SplashScreen" value="res/app_logo.png" />
        <preference name="SplashScreenBackgroundColor" value="white" /> 
    </platform>

    <platform name="ios">
        <preference name="Orientation" value="portrait" />
        <splash src="res/app_logo.png"/>
</platform>

</widget>
